/* style.css */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
ul { list-style-type: none; }
a { text-decoration: none; }
body {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    color: #222328; /* 기본 텍스트 색 */
    background: #fff; /* 기본 배경색 */
}

#main_header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
/*    background: #ddd;*/
    z-index: 999;
}
#main_header > h1 {
    width: 200px;
    height: 40px;
    position: absolute;
    top: 30px;
}

#gnb {
    position: absolute;
/*    outline: 1px solid red;*/
    right: 0; top: 40px;
}
#gnb > .depth1 > li {
    float: left;
    text-align: center;
    width: 180px;
    background: #fff;
}
#gnb > .depth1 > li a {
    display: block;
    padding: 5px;
    color: #222328;
    font-size: 18px;
    font-weight: bold;
}
#gnb > .depth1 > li a:hover {
    background: #666;
    color: #fff;
}

/* 2단계 메뉴 */
#gnb .depth2 {
    margin-top: 26px;
    display: none;
    padding-bottom: 10px;
}

/* 슬라이더 영역 */
#visual {
    width: 1200px;
    height: 300px;
/*    outline: 2px solid red;*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#visual > .sliders {
/*    outline: 1px solid green;*/
    margin-top: 0px;
    transition-duration: 0.4s;
}
#visual > .sliders > img {
    display: block;
}

/* 콘텐츠 영역 - 탭 */
#content {
    width: 1200px;
    height: 200px;
/*    outline: 2px solid red;*/
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}
#content > article {
    width: 386.66px;
    height: 200px;
/*    outline: 2px solid green;*/
    float: left;
    margin-right: 20px;
}
#content > article:last-child {
    margin-right: 0;
}
#content > .banner1 > img,
#content > .banner2 > img {
    width: 100%;
    height: 200px;
}

/* 공지사항 */
.tab_group { overflow: hidden; }
.tab_group > a {
    width: 50%;
    padding: 5px;
    float: left;
    background: #ccc;
    color: #222328;
    text-align: center;
}

/* tab버튼을 클릭(선택) 했을때 */
.tab_group > a.selected {
    background: #aaa;
}

.tab_contents1 {
    padding: 10px;
    display: none;
}
.tab_contents1 li {
    margin: 10px;
    overflow: hidden;
}
.tab_contents1 li span { float: right; }
.tab_contents1 li a { color: #222328; }

.tab_contents2 {
    padding: 10px;
}
.tab_contents2 > img {
    float: left;
    width: calc((386.66px - 20px) / 3);
    margin-top: 15px;
    border: 5px solid #fff;
}

#notice, #gallery { display: none; }
#notice.show { display: block; }
#gallery.show { display: block; }

/* 푸터 */
#main_footer {
    width: 1200px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

#main_footer > .footer_logo,
#main_footer > .copy,
#main_footer > .sns {
    width: 33.3%;
    float: left;
    margin-top: 30px;
}
#main_footer > .copy { text-align: center; }
#main_footer > .sns {
    text-align: right;
}
#main_footer > .sns > a { margin-left: 20px; }
#main_footer > .footer_logo img {
    opacity: 0.7;
}

/* popup 창 */
.popup {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    left: calc(50% - 200px);
    top: calc(50% - 150px);
    background: #fff;
    display: none;
}

/* 팝업 창 보이기 상태 */
.popup.show { display: block; }

.popup > header { margin-bottom: 20px; }
.popup > .btn-close {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    font-weight: bold;
}